<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div id="errorMessage" class="errorMessage alert alert-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>
            <form name="blogForm" ng-submit="vm.addPost()">
                <div class="form-group">
                    <label>Title</label>
                    <input class="form-control" id="postTitle" name="postTitle" ng-model="vm.newPost.postTitle" required autofocus=""/>
                </div>
                <div class="form-group">
                    <label>Message</label>
                    <textarea class="form-control autoExpand" id="postMessage" name="postMessage" ng-model="vm.newPost.postMessage" rows="3" data-min-rows="3"  required />
                </div>
                <div>
                    <input type="submit" value="Add" class="btn btn-success" />
                    <button class="btn btn-info">Update</button>
                    <button class="btn btn-danger float-right">Delete</button>
                    <button class="btn btn-secondary float-right button-margin">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-6" ng-repeat="post in vm.blogPosts">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{post.postTitle}}</h4>
                    <h6 class="card-subtitle bm-2 text-muted">{{post.postDate}}</h6>
                    <p class="card-text">{{post.shortMsg}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
