<div class="container edit-container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div id="errorMessage" class="errorMessage alert alert-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>
            <div id="successMessage" class="successMessage alert alert-success" ng-show="vm.successMessage">{{vm.successMessage}}</div>
            <form name="blogForm">
                <div class="form-group">
                    <label class="text-muted">Title</label>
                    <input class="form-control" id="postTitle" name="postTitle" ng-model="vm.tempTitle" required autofocus=""/>
                </div>
                <div class="form-group">
                    <label class="text-muted">Message</label>
                    <textarea class="form-control autoExpand" id="postMessage" name="postMessage" ng-model="vm.newPost.postMessage" rows="3" data-min-rows="3"  required />
                </div>
                <div>
                    <button class="btn btn-success" ng-disabled="vm.newPost.$id || !vm.tempTitle || !vm.newPost.postMessage" ng-click="vm.addPost()">Add</button>
                    <button class="btn btn-info" ng-disabled="!vm.newPost.$id" ng-click="vm.updatePost()">Update</button>
                    <button class="btn btn-danger float-right" ng-disabled="!vm.newPost.$id" ng-click="vm.deletePost()">Delete</button>
                    <button class="btn btn-secondary float-right button-margin" ng-disabled="!vm.newPost.postTitle && !vm.newPost.postMessage" ng-click="vm.clearPost()">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-6" ng-repeat="post in vm.blogPosts">
            <div ng-click="vm.getPost(post)" class="card">
                <div class="card-body  postCard">
                    <h4 class="card-title">{{post.postTitle}}</h4>
                    <h6 class="card-subtitle bm-2 text-muted">{{post.postDate}}</h6>
                    <p class="card-text">{{post.shortMsg}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
