<div class="jumbotron jumbo"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12" id="bookSection" align="center">
      <a href="#/bookings" class="btn btn-outline-dark" role="button"
        ><h1 id="bookText">
          <i class="fa fa-scissors" aria-hidden="true"></i> Book An Appointment
        </h1></a
      >
    </div>
  </div>
  <hr id="divider" />
  <div class="row">
    <div class="col-md-12">
      <h1 id="home-blog-header" class="text-center">Location</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <p>1584 E Chevy Chase Dr<br />Glendale, CA 91206</p>
    </div>
    <div class="col-md-6 mx-auto">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d825.4327040517152!2d-118.22986147074342!3d34.153228298786196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c10aab2292e5%3A0x94df223d26742fca!2sErnie&#39;s%20Barber%20Shop!5e0!3m2!1sen!2sus!4v1602719326678!5m2!1sen!2sus" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
  <hr id="divider" />
  <div class="row">
    <div class="col-md-12">
      <h1 id="home-blog-header" class="text-center">Blog Posts</h1>
    </div>
  </div>
  <div class="row" ng-repeat="post in vm.blogPosts">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{post.postTitle}}</h4>
          <h6 class="card-subtitle bm-2 text-muted">{{post.postDate}}</h6>
          <p class="card-text">{{post.postMessage}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

